.custom-block {
  .custom-block-title {
    font-weight: 600;
    margin-bottom: -0.4rem;
  }

  &.info, &.tip, &.bra, &.warning, &.advarsel, &.danger, &.fare {
    padding: 0.1rem 1.5rem;
    border-left-width: 0.5rem;
    border-left-style: solid;
    margin: 1rem 0;
  }

  &.info {
    background-color: #f6f7f9;
    border-color: #5dbad4;
  }

  &.tip, &.bra {
    background-color: #f3f5f7;
    border-color: #42b983;
  }

  &.warning, &.advarsel {
    background-color: rgba(255, 229, 100, 0.3);
    border-color: darken(#ffe564, 35%);
    color: darken(#ffe564, 70%);

    a {
      color: $textColor;
    }
  }

  &.danger, &.fare {
    background-color: #ffe6e6;
    border-color: darken(red, 20%);
    color: darken(red, 70%);

    a {
      color: $textColor;
    }
  }

  &.details {
    display: block;
    position: relative;
    border-radius: 2px;
    margin: 1.6em 0;
    padding: 1.6em;
    background-color: #eee;

    h4 {
      margin-top: 0;
    }

    figure, p {
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    summary {
      outline: none;
      cursor: pointer;
    }
  }
}
