<template>
  <div class="feature">
    <h2 v-if="page.title">
      <a :href="$withBase(page.path)">{{ page.title || "" }}</a>
    </h2>
    <p v-if="page.children && page.children.length">
      <a
        v-for="(child, index) in page.children"
        :key="index"
        :href="$withBase(child.path)"
      >
        {{ child.title || "" }}
      </a>
    </p>
  </div>
</template>

<script>
export default {
  name: "Feature",
  props: {
    page: {},
  },
};
</script>
