<template>
  <main class="page">
    <slot name="top" />
    <div class="theme-default-content">
      <Breadcrumbs />
      <h1 v-if="$page.frontmatter.title">
        <a :href="$withBase($page.path)" class="header-anchor">#</a>
        {{ $page.frontmatter.title }}
      </h1>
      <h2>FUP</h2>
      <TableOfContents v-if="!$page.frontmatter.redirect" />
      <PageHeader />
      <Content v-if="!$page.frontmatter.redirect" />
      <p v-if="$page.frontmatter.redirect">
        {{ this.$site.themeConfig.locale.moved }}
        <a :href="$page.frontmatter.redirect">{{
          $page.frontmatter.redirect
        }}</a
        >.
      </p>
      <ChildTableOfContents />
    </div>
    <PageFooter />
    <slot name="bottom" />
  </main>
</template>

<script>
import Breadcrumbs from "@theme/components/Breadcrumbs.vue";
import TableOfContents from "@theme/components/TableOfContents.vue";
import { loadScript, loadStyle } from "@theme/util";
import { getFUPTable, adaptFUPTable } from "@theme/util/fup";

export default {
  name: "FUP",
  components: { Breadcrumbs, TableOfContents },
  props: ["sidebarItems"],
  mounted: function () {
    if (document.querySelector("#permalink")) {
      document
        .querySelector("#permalink")
        .setAttribute("href", window.location.href);
    }
    if (this.$page.frontmatter.redirect) {
      setTimeout(
        function () {
          window.location.href = this.$page.frontmatter.redirect;
        }.bind(this),
        5000
      );
    }
    adaptFUPTable();

    loadStyle("/assets/tablefilter-0.7.2/tablefilter.css");
    loadScript("/assets/tablefilter-0.7.2/tablefilter.js")
      .then(() => {
        loadScript("/assets/tablefilter-0.7.2/tablefilter_extensions.js")
          .then(() => {
            window.tablefilter = new TableFilter(getFUPTable(), {
              base_path: "/assets/tablefilter-0.7.2/",
              watermark: [
                "Kode",
                "Funksjon",
                "Underfunksjon",
                "Prosess",
                "Stikkord",
                "B/K",
                "Frist",
              ],
              col_1: "select",
              col_2: "select",
              col_3: "select",
              col_5: "select",
              col_6: "select",
              rows_counter: {
                text: "Saksprosesser: ",
              },
              help_instructions: false,
              clear_filter_text: "ALLE",
              linked_filters: true,
              auto_filter: {
                delay: 100,
              },
              state: {
                types: ["local_storage"],
                filters: true,
                sort: true,
                columns_visibility: true,
                filters_visibility: true,
              },
              extensions: [
                {
                  name: "sort",
                  images_path: "",
                  image_blank:
                    "data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==",
                },
              ],
            });
            window.tablefilter.init();
          })
          .then(() => {
            window.tablefilter.extension("sort").sortByColumnIndex(0, false);
          })
          .catch((err) => {
            console.error(err);
          });
      })
      .catch((err) => {
        console.error(err);
      });
  },
};
</script>

<style lang="stylus">
@require '~@theme/styles/wrapper.styl';
.page
  display block
  padding-bottom 2rem
  overflow-wrap break-word
  .theme-default-content
    h1
      margin-bottom 1rem
  .footer
    padding 1.25rem
    border-top 1px solid $borderColor
    text-align center
    color lighten($textColor, 25%)
</style>
<style>
@media screen {
  table {
    container-type: inline-size;
    display: block;
    position: relative;
    width: 100%;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-size: 0.8rem;
    border-collapse: collapse;
    border: 1px solid #dfe2e5;
  }
  table tr {
    padding: 0.35em;
  }
  table th,
  table td {
    border: 1px solid #dfe2e5;
    padding: 0.25em;
    min-height: 1rem;
  }
  table th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    text-align: left;
    background: #f6f8fa;
  }
  table th:first-child {
    z-index: 3;
  }
  table tr:nth-child(2n) {
    background-color: transparent;
  }
  @container (max-width: 720px) {
    table {
      font-size: 1rem;
    }
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    table tr {
      display: block;
      margin-bottom: 0.625em;
      padding: 0.625em;
    }
    table tr td:nth-child(even) {
      background-color: #f6f8fa;
    }
    table td {
      display: block;
      text-align: right;
    }
    table td::before {
      content: attr(data-label);
      float: left;
    }
  }
  table.TF .sort-arrow {
    right: 0.25rem;
  }
  table.TF .ascending {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMjAgNTEyIj48IS0tIEZvbnQgQXdlc29tZSBGcmVlIDUuMTUuNCBieSBAZm9udGF3ZXNvbWUgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbSBMaWNlbnNlIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20vbGljZW5zZS9mcmVlIChJY29uczogQ0MgQlkgNC4wLCBGb250czogU0lMIE9GTCAxLjEsIENvZGU6IE1JVCBMaWNlbnNlKSAtLT48cGF0aCBkPSJNMjg4LjY2MiAzNTJIMzEuMzM4Yy0xNy44MTggMC0yNi43NDEtMjEuNTQzLTE0LjE0Mi0zNC4xNDJsMTI4LjY2Mi0xMjguNjYyYzcuODEtNy44MSAyMC40NzQtNy44MSAyOC4yODQgMGwxMjguNjYyIDEyOC42NjJjMTIuNiAxMi41OTkgMy42NzYgMzQuMTQyLTE0LjE0MiAzNC4xNDJ6Ii8+PC9zdmc+);
  }
  table.TF .descending {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMjAgNTEyIj48IS0tIEZvbnQgQXdlc29tZSBGcmVlIDUuMTUuNCBieSBAZm9udGF3ZXNvbWUgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbSBMaWNlbnNlIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20vbGljZW5zZS9mcmVlIChJY29uczogQ0MgQlkgNC4wLCBGb250czogU0lMIE9GTCAxLjEsIENvZGU6IE1JVCBMaWNlbnNlKSAtLT48cGF0aCBkPSJNMzEuMyAxOTJoMjU3LjNjMTcuOCAwIDI2LjcgMjEuNSAxNC4xIDM0LjFMMTc0LjEgMzU0LjhjLTcuOCA3LjgtMjAuNSA3LjgtMjguMyAwTDE3LjIgMjI2LjFDNC42IDIxMy41IDEzLjUgMTkyIDMxLjMgMTkyeiIvPjwvc3ZnPg==);
  }
  main table.TF th {
    padding: 0.1em 0.35em;
  }
  @container (min-width: 721px) {
    table tr:nth-child(even) {
      background-color: #f6f8fa;
    }
  }
}
</style>
