<template>
  <main class="home" :aria-labelledby="data.heroText ? 'main-title' : null">
    <header class="hero">
      <img
        v-if="data.heroImage"
        :src="$withBase(data.heroImage)"
        :alt="data.heroAlt || 'hero'"
      />
      <h1 v-if="data.heroText" id="main-title">
        {{ data.heroText || $title }}
      </h1>
      <p v-if="data.tagline" class="description">
        {{ data.tagline || $description }}
      </p>
      <p v-if="data.actionText && data.actionLink" class="action">
        <NavLink class="action-button" :item="actionLink" />
      </p>
    </header>
    <hr />
    <h2>{{ $themeConfig.locale.caseOfficers }}</h2>
    <div
      v-if="data.shortcuts && data.shortcuts.length"
      class="features shortcuts"
    >
      <Shortcut
        v-for="(shortcut, index) in data.shortcuts"
        :key="index"
        :shortcut="shortcut"
        :page="findPageByPath(shortcut.path)"
      />
    </div>
    <Content class="theme-default-content custom" />
    <hr />
    <h2>{{ $themeConfig.locale.tableOfContents }}</h2>
    <div v-if="data.features && data.features.length" class="features">
      <Feature
        v-for="(feature, index) in data.features"
        v-if="findPageByPath(feature.link)"
        :key="index"
        :page="findPageByPath(feature.link)"
      />
    </div>
    <PageFooter />
  </main>
</template>

<script>
import NavLink from "@theme/components/NavLink.vue";
import Feature from "@theme/components/Feature.vue";
import Shortcut from "@theme/components/Shortcut.vue";

export default {
  name: "Home",

  components: { NavLink, Feature, Shortcut },

  computed: {
    data() {
      return this.$page.frontmatter;
    },
    actionLink() {
      return {
        link: this.data.actionLink,
        text: this.data.actionText,
      };
    },
  },
  methods: {
    findPageByPath(path) {
      function iter(a) {
        if (a.path === path) {
          result = a;
          return true;
        }
        return Array.isArray(a.children) && a.children.some(iter);
      }
      var result;
      this.$site.themeConfig.pagesTree.some(iter);
      return result;
    },
  },
};
</script>

<style lang="stylus">
.home
  padding $navbarHeight 2rem 0
  max-width $homePageWidth
  margin 0px auto
  display block
  h2
    margin-bottom 0
    border-bottom 0
  .hero
    text-align center
    img
      max-width: 100%
      max-height 4rem
      display block
      margin 3rem auto 1.5rem
    h1
      font-size 3rem
    h1, .description, .action
      margin 1.8rem auto
    .description
      max-width 35rem
      font-size 1.6rem
      line-height 1.3
      color lighten($textColor, 40%)
    .action-button
      display inline-block
      font-size 1.2rem
      color #fff
      background-color $accentColor
      padding 0.8rem 1.6rem
      border-radius 4px
      transition background-color .1s ease
      box-sizing border-box
      border-bottom 1px solid darken($accentColor, 10%)
      &:hover
        background-color lighten($accentColor, 10%)
  .features
    display flex
    flex-wrap wrap
    align-items stretch
    align-content stretch
    justify-content space-between
  .feature
    flex-grow 1
    flex-basis 30%
    max-width 30%
    h2
      font-size 1.4rem
      font-weight 500
      border-bottom none
      padding-bottom 0
      color lighten($textColor, 10%)
    p
      color lighten($textColor, 25%)
      a
        display block
  .footer
    padding 2.5rem
    border-top 1px solid $borderColor
    text-align center
    color lighten($textColor, 25%)

@media (max-width: $MQMobile)
  .home
    .features
      flex-direction column
    .feature
      max-width 100%
      padding 0 2.5rem

@media (max-width: $MQMobileNarrow)
  .home
    padding-left 1.5rem
    padding-right 1.5rem
    .hero
      img
        max-height 210px
        margin 2rem auto 1.2rem
      h1
        font-size 2rem
      h1, .description, .action
        margin 1.2rem auto
      .description
        font-size 1.2rem
      .action-button
        font-size 1rem
        padding 0.6rem 1.2rem
    .feature
      h2
        font-size 1.25rem
</style>
