<template>
  <main class="page">
    <slot name="top" />
    <div class="theme-default-content">
      <Breadcrumbs />
      <h1 v-if="$page.frontmatter.title">
        <a :href="$withBase($page.path)" class="header-anchor">#</a>
        {{ $page.frontmatter.title }}
      </h1>
      <TableOfContents v-if="!$page.frontmatter.redirect" />
      <PageHeader />
      <Content v-if="!$page.frontmatter.redirect" />
      <p v-if="$page.frontmatter.redirect">
        {{ this.$site.themeConfig.locale.moved }}
        <a :href="$page.frontmatter.redirect">{{
          $page.frontmatter.redirect
        }}</a
        >.
      </p>
      <ChildTableOfContents />
    </div>
    <PageNav v-bind="{ sidebarItems }" />
    <PageFooter />
    <slot name="bottom" />
  </main>
</template>

<script>
import Breadcrumbs from "@theme/components/Breadcrumbs.vue";
import PageNav from "@theme/components/PageNav.vue";
import TableOfContents from "@theme/components/TableOfContents.vue";

export default {
  name: "Page",
  components: { Breadcrumbs, PageNav, TableOfContents },
  props: ["sidebarItems"],
  mounted: function () {
    if (document.querySelector("#permalink")) {
      document
        .querySelector("#permalink")
        .setAttribute("href", window.location.href);
    }
    if (this.$page.frontmatter.redirect) {
      setTimeout(
        function () {
          window.location.href = this.$page.frontmatter.redirect;
        }.bind(this),
        5000
      );
    }
  },
};
</script>

<style lang="stylus">
@require '~@theme/styles/wrapper.styl';
.page
  display block
  padding-bottom 2rem
  overflow-wrap break-word
  .theme-default-content
    h1
      margin-bottom 1rem
  .footer
    padding 1.25rem
    border-top 1px solid $borderColor
    text-align center
    color lighten($textColor, 25%)
</style>
