<template>
  <div class="structured-data" v-html="structuredData"></div>
</template>

<script>
import * as dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import * as util from "@plugins/metadata/util.js";
import * as StructuredData from "@plugins/metadata/StructuredData.mjs";
dayjs.extend(utc);
dayjs.extend(timezone);
dayjs.tz.setDefault("Europe/Oslo");

export default {
  name: "SchemaStructuredData",
  computed: {
    canonicalUrl() {
      return (
        this.$page.frontmatter.canonicalUrl ||
        this.$site.themeConfig.domain + this.$page.path
      );
    },
    structuredData() {
      const Image = StructuredData.Image(this.$site.themeConfig.author.image);
      const Author = StructuredData.Organization({
        name: this.$site.themeConfig.author.name || null,
        description: this.$site.themeConfig.author.description || null,
        url: this.$site.themeConfig.author.url || null,
        image: Image,
      });

      const WebSite = StructuredData.WebSite({
        url: this.$site.themeConfig.domain,
        name: this.$site.title,
        description: this.$site.description,
        inLanguage: this.$site.themeConfig.language_bcp47,
        publisher: Author,
        potentialAction: StructuredData.Search("search"),
      });

      const WebPageImage = StructuredData.Image({
        url: `/assets/img/social${this.$page.path}header.jpg`,
        width: 1200,
        height: 630,
        caption: this.$page.title ? this.$page.title : null,
      });
      const WebPage = StructuredData.Schema("WebPage", {
        url:
          this.$page.frontmatter.canonicalUrl ||
          this.$site.themeConfig.domain + this.$page.path,
        name: this.$page.title,
        headline: this.$page.title,
        description: this.$page.frontmatter.description
          ? this.$page.frontmatter.description
          : `${this.$page.title} | ${this.$site.description}`,
        inLanguage: this.$site.themeConfig.language_bcp47,
        author: Author,
        datePublished: this.$page.frontmatter.date || this.$page.lastUpdated,
        dateModified: this.$page.lastUpdated,
        primaryImageOfPage: WebPageImage,
        mainEntityOfPage: {
          "@type": "WebPage",
          "@id": this.canonicalUrl,
        },
      });

      const BreadCrumbList = StructuredData.BreadCrumbList(
        this.$site.themeConfig.domain,
        util.breadcrumbs(this.$page, this.$site.pages)
      );

      return util.renderJSONLD([WebSite, WebPage, BreadCrumbList]);
    },
  },
};
</script>
