<template>
  <div>
    <div class="search-box">
      <input
        ref="input"
        aria-label="Search"
        :value="query"
        :class="{ focused: focused }"
        :placeholder="placeholder"
        autocomplete="off"
        spellcheck="false"
        @input="query = $event.target.value"
        @focus="focused = true"
        @blur="focused = false"
        @keypress="focused = true"
        @keyup.delete="focused = true"
        @keyup.enter="go(focusIndex)"
        @keyup.up="onUp"
        @keyup.down="onDown"
        @keyup.esc="toggleFocus()"
      />
    </div>
    <ul
      v-if="showSuggestions"
      class="suggestions"
      :class="{ 'align-right': alignRight }"
    >
      <li
        v-for="(s, i) in suggestions"
        :key="i"
        class="suggestion"
        :class="{ focused: i === focusIndex }"
        @mouseenter="focus(i)"
        @mousedown.left="go(i)"
        @mousedown.right="focused = true"
      >
        <div
          v-if="highlitResult(s.path, 'title') || result(s, 'title')"
          class="page-title"
        >
          <a
            v-if="highlitResult(s.path, 'title') || result(s, 'title')"
            :href="$withBase(s.path)"
            v-html="highlitResult(s.path, 'title') || result(s, 'title')"
          ></a>
          <a
            v-if="highlitResult(s.path, 'category') || result(s, 'category')"
            :href="$withBase(`/kategorier/#${slugify(result(s, 'category'))}`)"
            class="category"
            >#{{
              highlitResult(s.path, "category") || result(s, "category")
            }}</a
          >
        </div>
        <a
          v-if="highlitResult(s.path, 'content') || result(s, 'content')"
          :href="$withBase(s.path)"
          class="page-content"
          v-html="
            highlitResult(s.path, 'content') || truncate(result(s, 'content'))
          "
        />
        <div
          v-if="highlitResult(s.path, 'tags') || result(s, 'tags')"
          class="page-meta"
        >
          <a
            v-for="(tag, i) in highlitResult(s.path, 'tags') ||
            result(s, 'tags')"
            :key="i"
            :href="
              $withBase(
                `/emneknagger/#${slugify(tag.replace(/<\/*mark>/gm, ''))}`
              )
            "
            class="tag"
            v-html="`#${tag}`"
          />
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
const data = require("../../public/index.json");

export default {
  name: "SearchBox",
  data() {
    return {
      query: "",
      focused: false,
      focusIndex: 0,
      placeholder: undefined,
      suggestions: null,
    };
  },
  computed: {
    showSuggestions() {
      return this.focused && this.suggestions;
    },
    alignRight() {
      const navCount = (this.$site.themeConfig.nav || []).length;
      const repo = this.$site.repo ? 1 : 0;
      return navCount + repo <= 2;
    },
  },
  watch: {
    query() {
      this.getSuggestions();
    },
  },
  mounted() {
    this.suggestions = [];
    this.index =
      require("../../../../generator/lib/search/MiniSearch").bootstrap({
        content: data.map((obj) => ({ ...obj })),
        keys: Object.keys(data[0]),
      });
    this.placeholder = this.$site.themeConfig.locale.search || "";
    document.addEventListener("keydown", this.onHotkey);
    const params = this.urlParams();
    if (params) {
      const query = params.get("search");
      if (query) {
        this.query = decodeURI(query);
        this.focused = true;
      }
    }
  },
  beforeDestroy() {
    document.removeEventListener("keydown", this.onHotkey);
  },
  methods: {
    highlitResult(path, key) {
      if (
        this.highlights !== null &&
        typeof this.highlights !== "undefined" &&
        this.highlights.hasOwnProperty("matches") &&
        this.highlights.matches !== null &&
        typeof this.highlights.matches !== "undefined" &&
        this.highlights.matches.hasOwnProperty(path) &&
        this.highlights.matches[path].hasOwnProperty(key)
      ) {
        if (key == "tags") {
          return this.highlights.matches[path][key].split(",");
        }
        return this.highlights.matches[path][key];
      }
      return false;
    },
    result(suggestion, key) {
      if (
        suggestion !== null &&
        typeof suggestion !== "undefined" &&
        suggestion.hasOwnProperty("item") &&
        suggestion.item.hasOwnProperty(key)
      ) {
        return suggestion.item[key];
      }
      return false;
    },
    truncate(input) {
      const clip = require("text-clipper").default;
      return clip(input, 80, { html: true, indicator: "" }).replace(
        /\r?\n|\r/g,
        " "
      );
    },
    slugify(target) {
      const slugify = require("slugify");
      return slugify(target, {
        locale: "nb",
        lower: true,
        remove: /[^\w\s$*_+~.()'"!\-:@/]/g,
      });
    },
    async getSuggestions() {
      if (!this.query) {
        this.suggestions = [];
        return;
      }
      this.suggestions =
        require("../../../../generator/lib/search/MiniSearch").search({
          engine: this.index.engine,
          query: this.query,
          content: data.map((obj) => ({ ...obj })),
          originals: true,
          matches: true,
        }).results;
      this.highlights =
        require("../../../../generator/lib/search/MiniSearch").matcher({
          data: this.suggestions,
          query: this.query,
          ansi: false,
        });
      this.suggestions.push({
        path: `https://innsida.ntnu.no/sok?category=innsidaweb&query=${this.query}`,
        item: { content: `Søk på Innsida etter <mark>${this.query}</mark>` },
        external: true,
      });
      this.suggestions.push({
        path: `https://www.ntnu.no/sok?category=all&sortby=magic&query=${this.query}`,
        item: { content: `Søk på NTNU.no etter <mark>${this.query}</mark>` },
        external: true,
      });
    },
    onHotkey(event) {
      if (
        event.srcElement === document.body &&
        SEARCH_HOTKEYS.includes(event.key)
      ) {
        this.$refs.input.focus();
        event.preventDefault();
      }
    },
    onUp() {
      this.focused = true;
      if (this.showSuggestions) {
        if (this.focusIndex > 0) {
          this.focusIndex--;
        } else {
          this.focusIndex = this.suggestions.length - 1;
        }
      }
    },
    onDown() {
      this.focused = true;
      if (this.showSuggestions) {
        if (this.focusIndex < this.suggestions.length - 1) {
          this.focusIndex++;
        } else {
          this.focusIndex = 0;
        }
      }
    },
    go(i) {
      if (!this.showSuggestions) {
        return;
      }
      window.open(
        `${this.$site.base}${this.suggestions[i].path}`.replace("//", "/"),
        "_self"
      );
      const params = this.urlParams();
      if (params) {
        params.delete("query");
        const paramsString = params.toString();
        const newState =
          window.location.pathname + (paramsString ? `?${paramsString}` : "");
        history.pushState(null, "", newState);
      }
    },
    focus(i) {
      this.focusIndex = i;
    },
    unfocus() {
      this.focusIndex = -1;
    },
    toggleFocus() {
      if (this.focused === true) {
        this.focused = false;
      } else if (this.focused === false) {
        this.focused = true;
      }
    },
    urlParams() {
      if (!window.location.search) {
        return null;
      }
      return new URLSearchParams(window.location.search);
    },
  },
};
</script>

<style lang="stylus">
.search-box
  display inline-block
  position relative
  margin-right 1rem
  input
    cursor text
    width 10rem
    height: 2rem
    color lighten($textColor, 25%)
    display inline-block
    border 1px solid darken($borderColor, 10%)
    border-radius 2rem
    font-size 0.9rem
    line-height 2rem
    padding 0 0.5rem 0 2rem
    outline none
    transition all .2s ease
    background #fff url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13'%3E%3Cg stroke-width='2' stroke='%23aaa' fill='none'%3E%3Cpath d='M11.29 11.71l-4-4'/%3E%3Ccircle cx='5' cy='5' r='4'/%3E%3C/g%3E%3C/svg%3E") 0.6rem 0.5rem no-repeat
    background-size 1rem
    &:focus
      cursor auto
      border-color $accentColor
.suggestions
  background #fff
  width: calc(100vw - 20rem)
  min-width 500px
  max-width 700px
  position absolute
  top 2 rem
  // border 1px solid darken($borderColor, 10%)
  border-radius 0
  padding 0.4rem
  list-style-type none
  &.align-right
    right -1.5rem
  .suggestion
    line-height 1.4
    border-radius 4px
    width 100%
    > *
      box-sizing border-box
    &.focused
      background-color #f3f4f5
    mark
      text-decoration underline
      color inherit
      background-color transparent
    a
      display block
      white-space break-spaces
      color lighten($textColor, 15%)
      width 100%
      &:hover
        text-decoration underline
    .page-title
      display flex
      flex-direction row
      justify-content space-between
      font-weight 600
      background-color $accentColor
      padding 0.313rem
      a
        color white
        width auto
        &:first-of-type
          flex auto
    .page-content
      border 1px solid $borderColor
      font-weight 400
      font-style italic
      border-right none
      padding 0.125rem
      &:hover
        text-decoration none
    .page-meta
      border 1px solid $borderColor
      background: #f5f5f5
      padding 0.125rem
      line-height 1.125
      white-space break-spaces
      a
        display inline-block
        width auto
        &:hover
          text-decoration underline
        &.tag
          margin-right 0.5rem
          font-size 0.8rem
          text-transform lowercase
@media (max-width: $MQNarrow)
  .search-box
    input
      cursor pointer
      width 0
      border-color transparent
      position relative
      &:focus
        cursor text
        left 0
        width 10rem
// Match IE11
@media all and (-ms-high-contrast: none)
  .search-box input
    height 2rem
@media (max-width: $MQNarrow) and (min-width: $MQMobile)
  .search-box
    .suggestions
      left 0
@media (max-width: $MQMobile)
  .search-box
    margin-right 0
    input
      left 1rem
    .suggestions
      right 0
@media (max-width: $MQMobileNarrow)
  .search-box
    .suggestions
      width calc(100vw - 4rem)
    input:focus
      width 8rem
</style>
