<template>
  <div :class="`shortcut ${shortcut.color}`">
    <h2 v-if="shortcut.header && shortcut.path">
      <a :href="$withBase(shortcut.path)" v-html="shortcut.header" />
    </h2>
    <h2 v-else-if="shortcut.header" v-html="shortcut.header"></h2>
    <p v-if="shortcut.links && shortcut.links.length">
      <NavLink
        v-for="(link, index) in shortcut.links"
        :key="index"
        :item="link"
      />
    </p>
    <p class="guides" v-if="shortcut.links && shortcut.links.length">
      <NavLink
        v-for="(link, index) in shortcut.guides"
        :key="index"
        :item="link"
      />
    </p>
  </div>
</template>

<script>
import NavLink from "@theme/components/NavLink.vue";

export default {
  name: "Shortcut",
  components: { NavLink },
  props: {
    page: {},
    shortcut: {},
  },
};
</script>

<style lang="stylus">
.shortcuts
  gap 4%
  .shortcut
    flex-basis calc(30% - 3rem)
    margin 1rem 0
    padding 0.75rem 1rem
    border-left-width 0.5rem
    border-left-style solid
    @media (min-width: 768px) {
      max-width 30%
    }
    .guides a
      font-size 1rem
    &.blue
      background-color #6096d020
      border-color #6096d0
    &.orange
      background-color #ef811420
      border-color #ef8114
    &.pink
      background-color #b01b8120
      border-color #b01b81
    &.yellow
      background-color #f7d01920
      border-color #f7d019
    &.cyan
      background-color #3cbfbe20
      border-color #3cbfbe
    &.green
      background-color #bcd02520
      border-color #bcd025
    h2
      margin 0
      border-bottom 0
    p
      a
        display block
        font-size 1.125rem
</style>
