<template>
  <nav class="table-of-contents" v-if="$page.headers">
    <strong>{{ $themeConfig.locale.tableOfContents }}</strong>
    <div v-html="render" />
  </nav>
</template>

<script>
const beautify = require("js-beautify").html;
export default {
  name: "TableOfContents",
  props: {
    page: {},
  },
  methods: {
    headers() {
      if (this.$page && this.$page.headers) {
        const minLevel = 2;
        const maxLevel = 6;
        const processHeaders = (headers, rootLevel = minLevel) => {
          const result = [];
          for (let i = 0; i !== headers.length; ) {
            const nextRootOffset = headers
              .slice(i + 1)
              .findIndex((h) => h.level === rootLevel);
            const nextRootIndex =
              nextRootOffset === -1 ? headers.length : nextRootOffset + i + 1;
            const thisHeader = headers[i];
            if (thisHeader.level >= rootLevel && thisHeader.level <= maxLevel) {
              const childHeaders = headers.slice(i + 1, nextRootIndex);
              const children =
                rootLevel < maxLevel && childHeaders.length > 0
                  ? processHeaders(childHeaders, rootLevel + 1)
                  : null;
              result.push(
                Object.assign(Object.assign({}, thisHeader), { children })
              );
            }
            i = nextRootIndex;
          }
          return result;
        };
        return processHeaders(this.$page.headers);
      }
      return null;
    },
  },
  computed: {
    render() {
      const renderer = (items) => {
        let list = "";
        for (let i = 0; i < items.length; i++) {
          list += `<li><a href="#${items[i].slug}">${items[i].title}</a>`;
          if (
            items[i].hasOwnProperty("children") &&
            Array.isArray(items[i].children) &&
            items[i].children.length > 0
          ) {
            list += `<ol>${renderer(items[i].children)}</ol>`;
          }
          list += `</li>`;
        }
        return list;
      };
      let list = `<ol>${renderer(this.headers())}</ol>`;
      return beautify(list, {
        indent_size: "2",
        indent_char: " ",
        max_preserve_newlines: "-1",
        preserve_newlines: false,
        indent_inner_html: true,
      });
    },
  },
};
</script>

<style lang="stylus">
.table-of-contents {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.25rem 0.5rem;
  background-color: #fff;
  border: 1px solid #eee;
  border-left: 3px solid #488ef1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  strong {
    display: block;
    margin: 0.5rem 0.75rem;
  }
  ol {
    margin-top: 0;
    counter-reset: item;
  }
  li {
    list-style-type: none;
    &:before {
      content: counters(item, ".") " ";
      counter-increment: item;
    }
  }
  [data-header-level] {
    margin-left: 1.5rem;
  }
  [data-header-level="1"] {
    margin-left: 0rem;
  }
  [data-header-level="2"] {
    margin-left: .75rem;
  }
  @media (min-width: $xlarge) {
    width: 16rem;
    margin: 0rem -2.5rem 1rem 1rem;
    float: right;
    clear: right;
  }
  @media (min-width: $xxlarge) {
    margin-right: -10rem;
  }
}
</style>
