@page {
  margin: 0;
}
.sheet {
  margin: 0;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}
.sheet {
  width: 210mm;
  height: 296mm;
}
.sheet.padding-10mm {
  padding: 10mm;
}

/** Fix for Chrome issue #273306 **/
@media print {
  body {
    width: 210mm;
  }
}
