<template>
  <Layout>
    <template slot="page-top">
      <div class="not-found">
        <h1>404</h1>
        <p>{{ this.$site.themeConfig.locale.notFound }}.</p>
        <RouterLink to="/">
          {{ this.$site.themeConfig.locale.home }}
        </RouterLink>
      </div>
    </template>
  </Layout>
</template>

<script>
import Layout from "@theme/layouts/Layout.vue";
export default {
  components: { Layout },
};
</script>

<style lang="stylus">
.not-found
  margin-top 3.6rem
  padding 2rem
</style>
