<template>
  <div>
    <section class="sheet padding-10mm">
      <article>
        <h1>{{ this.$page.frontmatter.title }}</h1>
        <ol class="toc"></ol>
      </article>
      <article v-for="page in pages" :key="page.path" v-if="page.title">
        <h1 :id="slugify(page.path)" v-html="page.title" />
        <PageHeader :pageKey="page.key" :renderReadingTime="false" />
        <Content :pageKey="page.key" />
      </article>
      <PageFooter />
    </section>
  </div>
</template>

<script>
export default {
  name: "All",
  mounted() {
    const self = `${this.$site.base}${this.$page.path}`.replace("//", "/");
    const slugify = require("slugify");
    const createList = function (parent, array) {
      array.forEach(function (item) {
        var a = document.createElement("a"),
          li = document.createElement("li"),
          ol;
        a.href =
          self +
          "#" +
          slugify(item.path.replace(/^\/|\/$/gm, "").replace(/\//g, "-"), {
            locale: "nb",
            lower: true,
            remove: /[^\w\s$*_+~.()'"!\-:@/]/g,
          });
        a.textContent = item.title;
        li.appendChild(a);
        parent.appendChild(li);
        if (item.children) {
          ol = document.createElement("ol");
          li.appendChild(ol);
          createList(ol, item.children);
        }
      });
    };
    createList(
      document.querySelector("ol.toc"),
      this.$site.themeConfig.sidebar
    );
  },
  methods: {
    slugify(target) {
      const slugify = require("slugify");
      return slugify(target.replace(/^\/|\/$/gm, "").replace(/\//g, "-"), {
        locale: "nb",
        lower: true,
        remove: /[^\w\s$*_+~.()'"!\-:@/]/g,
      });
    },
  },
  computed: {
    pages() {
      const flat = function (pages) {
        var result = [];
        pages.forEach(function (page) {
          result.push(page);
          if (Array.isArray(page.children)) {
            result = result.concat(flat(page.children));
          }
        });
        return result;
      };
      return flat(this.$site.themeConfig.sidebar);
    },
  },
};
</script>

<style lang="stylus">
@import '../../styles/paper.css'
@page { size: A4; margin: 1cm 0.5cm 1cm 0.5cm }
@media print {
  article {
    page-break-before: always;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  .reading-progress {
    display: none;
  }
  table {
    font-size: 0.8rem;
  }
}
img
  max-width 100%
</style>
