<template>
  <div
    class="theme-container"
    :class="pageClasses"
    @touchstart="onTouchStart"
    @touchend="onTouchEnd"
  >
    <Navbar v-if="shouldShowNavbar" @toggle-sidebar="toggleSidebar" />
    <div class="sidebar-mask" @click="toggleSidebar(false)" />
    <Sidebar :items="sidebarItems" @toggle-sidebar="toggleSidebar">
      <template #top>
        <slot name="sidebar-top" />
      </template>
      <template #bottom>
        <slot name="sidebar-bottom" />
      </template>
    </Sidebar>
    <Home v-if="$page.frontmatter.home" />
    <FUP v-else-if="$page.frontmatter.layout === 'FUP'" />
    <Page v-else :sidebar-items="sidebarItems">
      <template #top>
        <slot name="page-top" />
      </template>
      <template #bottom>
        <slot name="page-bottom" />
      </template>
    </Page>
    <SchemaStructuredData :key="$page.path"></SchemaStructuredData>
  </div>
</template>

<script>
import Home from "@theme/components/Home.vue";
import Navbar from "@theme/components/Navbar.vue";
import Page from "@theme/components/Page.vue";
import FUP from "@theme/components/FUP.vue";
import Sidebar from "@theme/components/Sidebar.vue";
import SchemaStructuredData from "@theme/components/SchemaStructuredData.vue";
import { resolveSidebarItems } from "../util";

export default {
  name: "Layout",

  components: {
    Home,
    Page,
    FUP,
    Sidebar,
    Navbar,
    SchemaStructuredData,
  },

  data() {
    return {
      isSidebarOpen: false,
    };
  },

  computed: {
    shouldShowNavbar() {
      const { themeConfig } = this.$site;
      const { frontmatter } = this.$page;
      if (frontmatter.navbar === false || themeConfig.navbar === false) {
        return false;
      }
      return (
        this.$title ||
        themeConfig.logo ||
        themeConfig.repo ||
        themeConfig.nav ||
        this.$themeLocaleConfig.nav
      );
    },

    shouldShowSidebar() {
      const { frontmatter } = this.$page;
      return (
        !frontmatter.home &&
        frontmatter.sidebar !== false &&
        this.sidebarItems.length
      );
    },

    sidebarItems() {
      return resolveSidebarItems(
        this.$page,
        this.$page.regularPath,
        this.$site,
        this.$localePath
      );
    },

    pageClasses() {
      const userPageClass = this.$page.frontmatter.pageClass;
      return [
        {
          "no-navbar": !this.shouldShowNavbar,
          "sidebar-open": this.isSidebarOpen,
          "no-sidebar": !this.shouldShowSidebar,
        },
        userPageClass,
      ];
    },
  },

  beforeMount() {
    this.updateCanonicalUrl();
  },
  mounted() {
    this.$router.afterEach(() => {
      this.isSidebarOpen = false;
      this.updateCanonicalUrl();
    });
    document.onreadystatechange = () => {
      if (document.readyState == "complete" && location.hash) {
        this.scrollTo(location.hash);
      }
    };
  },

  methods: {
    scrollTo(selector) {
      if (
        !selector ||
        typeof selector !== "string" ||
        selector.length > 1 ||
        !selector.startsWith("#")
      ) {
        return;
      }
      const slugify = require("slugify");
      selector =
        "#" +
        slugify(selector, {
          locale: "nb",
          lower: true,
          remove: /[^\w\s$*_+~.()'"!\-:@/]/g,
        });
      if (
        document.querySelector(selector) &&
        document.querySelector(selector).offsetTop
      ) {
        window.scrollTo(0, document.querySelector(selector).offsetTop);
      }
    },
    updateCanonicalUrl() {
      let canonicalUrl = document.createElement("link");
      canonicalUrl.rel = "canonical";
      canonicalUrl.href = this.$site.themeConfig.domain + this.$page.path;
      document.head.appendChild(canonicalUrl);
    },
    toggleSidebar(to) {
      this.isSidebarOpen = typeof to === "boolean" ? to : !this.isSidebarOpen;
      this.$emit("toggle-sidebar", this.isSidebarOpen);
    },
    onTouchStart(e) {
      this.touchStart = {
        x: e.changedTouches[0].clientX,
        y: e.changedTouches[0].clientY,
      };
    },
    onTouchEnd(e) {
      const dx = e.changedTouches[0].clientX - this.touchStart.x;
      const dy = e.changedTouches[0].clientY - this.touchStart.y;
      if (Math.abs(dx) > Math.abs(dy) && Math.abs(dx) > 40) {
        if (dx > 0 && this.touchStart.x <= 80) {
          this.toggleSidebar(true);
        } else {
          this.toggleSidebar(false);
        }
      }
    },
  },
};
</script>
