<template lang="html">
  <div class="meta-list">
    <table>
      <thead>
        <th>{{ $themeConfig.locale.title }}</th>
        <th>{{ $themeConfig.locale.link }}</th>
      </thead>
      <tbody>
        <tr v-for="page in $site.pages">
          <td>
            {{ page.title }}
          </td>
          <td>
            <a
              :href="
                `https://www.ntnu.no/arkivplan/${page.path.replace(/^\/+/, '')}`
              "
              >{{ page.path }}</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {};
</script>

<style lang="stylus">
.meta-list
  a[id]
    display block
    margin-top -4rem
    position absolute
  thead
    th
      text-align left
</style>
