<template lang="html">
  <div class="meta-list">
    <span v-for="item in Object.keys(meta)">
      <a :id="slugify(item)"></a>
      <h2>
        <router-link
          :to="{ path: `#${slugify(item)}` }"
          class="header-anchor"
          aria-hidden="true"
          >#</router-link
        >
        {{ item }}
      </h2>
      <ul>
        <li v-for="page in meta[item]">
          <router-link :to="{ path: page.path }">{{ page.title }}</router-link>
        </li>
      </ul>
    </span>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      required: true,
    },
  },
  methods: {
    slugify(target) {
      const slugify = require("slugify");
      return slugify(target, {
        locale: "nb",
        lower: true,
        remove: /[^\w\s$*_+~.()'"!\-:@/]/g,
      });
    },
  },
  computed: {
    meta() {
      let meta = {};
      for (let page of this.$site.pages) {
        if (
          !page.hasOwnProperty("frontmatter") ||
          !page.frontmatter.hasOwnProperty(this.type) ||
          page.frontmatter[this.type].length < 1
        ) {
          continue;
        }
        const target = page.frontmatter[this.type];
        if (typeof target === "string" && target !== "") {
          if (target in meta) {
            meta[target].push(page);
          } else {
            meta[target] = [page];
          }
        }
        if (Array.isArray(target)) {
          for (let index in target) {
            const item = target[index];
            if (item in meta) {
              meta[item].push(page);
            } else {
              meta[item] = [page];
            }
          }
        }
      }
      return meta;
    },
  },
};
</script>

<style lang="stylus">
.meta-list
  a[id]
    display block
    margin-top -4rem
    position absolute
</style>
