<template lang="html">
  <span v-if="meta">
    <strong>{{ $themeConfig.locale[type] }}:</strong>
    <router-link
      v-if="typeof meta === 'string'"
      :to="{
        path: `${$themeConfig.categoriesPage}/#${page().frontmatter[type]}`,
      }"
    >
      {{ page().frontmatter[type] }}
    </router-link>
    <router-link
      v-if="typeof meta === 'object'"
      v-for="item in page().frontmatter[type]"
      :key="item"
      :to="{ path: `${$themeConfig.tagsPage}/#${item}` }"
    >
      {{ item }}
    </router-link>
  </span>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      required: true,
    },
    pageKey: String,
  },
  methods: {
    page() {
      if (this.pageKey) {
        return this.$site.pages.find((page) => page.key === this.pageKey);
      }
      return this.$page;
    },
  },
  computed: {
    /**
     * Generate ordered object of metadata properties
     *
     * Returns string if singular, array otherwise
     */
    meta() {
      if (
        !this.page().hasOwnProperty("frontmatter") ||
        !this.page().frontmatter.hasOwnProperty(this.type) ||
        this.page().frontmatter[this.type].length < 1
      ) {
        return false;
      }
      let target = this.page().frontmatter[this.type];
      if (typeof target === "string" && target !== "") {
        return target;
      }
      if (Array.isArray(target)) {
        let meta = {};
        for (let page of this.$site.pages) {
          for (let index in target) {
            const item = target[index];
            if (item in meta) {
              meta[item].push(page);
            } else {
              meta[item] = [page];
            }
          }
        }
        return meta;
      }
      return false;
    },
  },
};
</script>
