<template>
  <footer class="page-edit">
    <div class="custom-block info">
      <p class="custom-block-title">{{ $themeConfig.locale.editTitle }}</p>
      <p v-html="$themeConfig.locale.editLink"></p>
    </div>
    <div class="footer">{{ $themeConfig.footer }}</div>
  </footer>
</template>

<script>
export default {
  name: "PageFooter",
};
</script>

<style lang="stylus">
.page-edit
  max-width $contentWidth
  margin 0 auto
  padding 0.5rem 2rem
  .custom-block-title
    font-size 1.35rem
    line-height 1
</style>
