<template>
  <div class="page-header-details">
    <span v-if="date" class="page-header-details-date">
      <strong>{{ $themeConfig.locale.created }}: </strong
      >{{ dateFormatter(date) }}
      <span v-if="updated" class="page-header-details-updated">
        <strong>, {{ $themeConfig.locale.updated }}: </strong
        >{{ dateFormatter(updated) }}
      </span>
    </span>
    <span v-if="author" class="page-header-details-author">
      <strong>{{ $themeConfig.locale.author }}: </strong
      >{{ $themeConfig.locale.doku }}
    </span>
    <MetaLinks type="category" :pageKey="page().key" />
    <MetaLinks type="tags" :pageKey="page().key" />
    <span v-if="readingTime">
      <strong>{{ $themeConfig.locale.timeToRead }}: </strong
      >{{ readingTime }} minutt(er)
    </span>
  </div>
</template>

<script>
const { DateTime } = require("luxon");
export default {
  name: "PageHeader",
  props: {
    pageKey: String,
    renderReadingTime: { type: Boolean, default: true },
  },
  methods: {
    page() {
      if (this.pageKey) {
        return this.$site.pages.find((page) => page.key === this.pageKey);
      }
      return this.$page;
    },
    dateFormatter(date, locale = "nb-NO") {
      return DateTime.fromISO(date).toLocaleString({
        locale: locale,
      });
    },
    dateCompare(date1, date2) {
      if (DateTime.fromISO(date1) > DateTime.fromISO(date2)) {
        return true;
      }
      return false;
    },
  },
  computed: {
    /**
     * Get date
     *
     * If `created` is set and later, return `created`,
     * otherwise return `date`
     */
    date() {
      if (
        !this.page().frontmatter.hasOwnProperty("date") ||
        typeof this.page().frontmatter.date !== "string" ||
        this.page().frontmatter.date === ""
      ) {
        return false;
      }
      if (
        this.page().frontmatter.hasOwnProperty("created") &&
        typeof this.page().frontmatter.created === "string" &&
        this.page().frontmatter.created !== ""
      ) {
        if (
          this.dateCompare(
            this.page().frontmatter.date,
            this.page().frontmatter.created
          )
        ) {
          return this.page().frontmatter.date;
        } else {
          return this.page().frontmatter.created;
        }
      }
      return this.page().frontmatter.date;
    },
    updated() {
      if (
        this.page().frontmatter.hasOwnProperty("updated") &&
        typeof this.page().frontmatter.updated === "string" &&
        this.page().frontmatter.updated !== ""
      ) {
        return this.page().frontmatter.updated;
      }
      return false;
    },
    author() {
      if (
        this.page().frontmatter.hasOwnProperty("author") &&
        this.page().frontmatter.author.hasOwnProperty("name") &&
        typeof this.page().frontmatter.author.name === "string" &&
        this.page().frontmatter.author.name !== ""
      ) {
        return this.page().frontmatter.author.name;
      }
      if (
        this.page().frontmatter.hasOwnProperty("author") &&
        typeof this.page().frontmatter.author === "string" &&
        this.page().frontmatter.author !== ""
      ) {
        return this.page().frontmatter.author;
      }
      if (
        this.$site.hasOwnProperty("author") &&
        this.$site.author.hasOwnProperty("name") &&
        typeof this.$site.author.name === "string" &&
        this.$site.author.name !== ""
      ) {
        return this.$site.author.name;
      }
      if (
        this.$site.hasOwnProperty("author") &&
        typeof this.$site.author === "string" &&
        this.$site.author !== ""
      ) {
        return this.$site.author;
      }
      return false;
    },
    readingTime() {
      if (
        !this.renderReadingTime ||
        typeof this.page() === "undefined" ||
        !this.page().hasOwnProperty("readingTime") ||
        this.page().readingTime === null ||
        !this.page().readingTime.hasOwnProperty("minutes") ||
        this.page().readingTime.minutes === null
      ) {
        return false;
      }
      let minutes = this.page().readingTime.minutes;
      if (minutes < 1) {
        return false;
      } else {
        minutes =
          minutes - Math.floor(minutes) < 0.5
            ? Math.floor(minutes)
            : Math.ceil(minutes);
      }
      return minutes;
    },
  },
};
</script>

<style lang="stylus">
.page-header-details
  span
    display block
    &.page-header-details-updated
      display inline
</style>
