<template>
  <div v-if="items.length > 0" class="child-pages">
    <hr />
    <h3>{{ $themeConfig.locale.childPages }}</h3>
    <router-link
      v-for="item in items"
      :key="item.path"
      :to="item.path"
      v-html="item.title"
    />
  </div>
</template>

<script>
export default {
  name: "ChildTableOfContents",
  props: {
    pageUrl: {
      type: String,
      default: undefined,
    },
  },
  computed: {
    items() {
      const currentUrl = this.pageUrl || this.$page.regularPath;
      let children = [];
      let itemChilds = this.itemChilds(currentUrl);
      for (let i = 0; i < itemChilds.length; i++) {
        if (
          itemChilds[i].hasOwnProperty("title") &&
          itemChilds[i].hasOwnProperty("frontmatter") &&
          !itemChilds[i].frontmatter.hasOwnProperty("redirect")
        ) {
          children.push(itemChilds[i]);
        }
      }
      return children;
    },
  },
  methods: {
    /**
     * Get all Pages, sort alphabetically
     */
    allChilds() {
      return this.$site.pages.sort(function(a, b) {
        if (a.path < b.path) {
          return -1;
        }
        if (a.path > b.path) {
          return 1;
        }
        return 0;
      });
    },

    /**
     * Get only child Pages
     */
    itemChilds(currentUrl) {
      return this.allChilds().filter((p) => {
        if (
          !p.regularPath.startsWith(currentUrl) ||
          p.regularPath === currentUrl
        ) {
          return false;
        }
        const split = p.regularPath.substr(currentUrl.length).split("/");
        if (p.regularPath.endsWith("/") && split.length === 2) {
          return true;
        }
        if (p.regularPath.endsWith(".html") && split.length === 1) {
          return true;
        }
        return false;
      });
    },
  },
};
</script>

<style lang="stylus">
.child-pages
  a
    display block
</style>
